body{
    margin: 0;
    padding: 0;
}
.icons{
    position: absolute;
    top:50% ;
    transform: translate(-50%);
    width: 100%;
    text-align: left;
    color: #fff;
}
.fa-youtube{
    font-size: 40px;
    color: red;
}
.fa-facebook{
    font-size: 40px;
    color: blue;
}
.fa-instagram{
    font-size: 40px;
    color: rgb(223, 0, 112)}
.fa-whatsapp{
    font-size: 40px;
    color: green;
}
